{% assign org = site.data.org %}

<div id="block-me" class="col-md-4 col-p-4 text-right">
  <h3 class="name">
    {% if org.url %}
      <a href="{{ org.url }}">
    {% endif %}
      {{ org.name }}
    {% if org.url %}
      </a>
    {% endif %}
  </h3>
  {% if org.description %}
    <small>{{ org.description }}</small>
  {% endif %}
  <ul class="list-unstyled">
    <li>{{ org.nif }}</li>
    <li><a href="tel:{{ org.tel }}">{{ org.tel }}</a></li>
    <li><a href="mailto:{{ org.email }}">{{ org.email }}</a></li>
    <li>
      <a href="{{ org.gmaps }}">
        <small>
        {% if org.addr %}
          {% for line in org.addr %}
            {{ line }}<br>
          {% endfor %}
        {% endif %}
        {{ org.cp }}<br>
        {{ org.pais }}
        </small>
      </a>
    </li>
  </ul>
</div>
