<ul class="list-unstyled">
  {% for item in include.tos %}
    <li>
      {% if item.title %}
        <strong>{{ item.title | markdownify  | remove: '<p>' | remove: '</p>' }}</strong><br/>
      {% endif %}

      {% if item.txt %}
        {{ item.txt | markdownify  | remove: '<p>' | remove: '</p>' }}<br/>
      {% endif %}

    {% if item.items %}
      {% include _tos.html tos=item.items %}
    {% endif %}
    </li>
  {% endfor %}
</ul>