<script src="{{ '/assets/vendor/jquery-rails/javascripts/jquery3.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/vendor/popper.js/javascripts/popper.js' | absolute_url }}"></script>
<script src="{{ '/assets/vendor/bootstrap/javascripts/bootstrap.min.js' | absolute_url }}"></script>
