<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="dns-prefetch" href="//fonts.googleapis.com">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% if page.client %}-{{ page.client }}{% endif %}-{{site.data.org.name | replace: 'í','i' | slugify }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" media="all">

  {% if site.google_webfonts %}
    <link href="https://fonts.googleapis.com/css?family={{ site.google_webfonts.embed }}i&display=swap" rel="stylesheet">
  {% endif %}
</head>
