body
  width: 100%
  height: 100%
  font-family: "Roboto Slab", sans-serif
blockquote
  @extend .blockquote

.condicions-contractacio
  font-size: .6rem
  h4
    font-size: 1rem
  ul,
  p
    margin-bottom: .4rem
  ul,
  ol
    list-style-position: inside
    padding-left: 0
