$table-border-color: rgba(black,.1)
$payed-color: #4CAE4C
$accepted-color: $payed-color
.container
  max-width: 45em
  position: relative

.card
  font-size: .9rem
  h5
    font-weight: 300

table
  @extend .table
  @extend .table-bordered
.table
  thead th,
  th
    font-weight: 300
    font-size: .8rem
    text-transform: uppercase
    border-color: $table-border-color
    &.no-border
      border-top: 0
    &.w-ample
      width: 85%
  td
    border-color: $table-border-color
    font-weight: 400
    small
      font-weight: 300
    small.xtra
      font-weight: 400
  &.table-details
    margin-bottom: 0
    margin-top: 2rem
  th.bg-pd,
  td.bg-pd
    padding-right: 0.75rem

#block-title
  font-weight: 700
  margin-bottom: 2.55rem

small,
.small
  font-size: .8rem
.initialism
  font-weight: 100
  font-size: .8rem
#block-info
  font-size: .9rem
  margin-bottom: 2.05rem
#block-me
  font-weight: 300
  .name
    font-weight: 400
    margin-top: 0.8rem
    font-size: 1rem
  li
    padding-right: 0.75rem
    font-size: .9rem
  a
    color: $body-color
  small
    font-weight: 300
    display: inline-block
    margin-top: .3em
#block-client,
#block-payment
  font-weight: 300
  > li
    padding-left: 0.75rem
    &.initialism
      padding-left: 0
  .name
    font-weight: 400
#block-totals
  th span
    font-weight: 100
  #total
    .lbl
      font-weight: 400
      font-size: 1.2rem
    .value
      font-weight: 700
      font-size: 1.2rem
    .value small
      font-weight: 700
      font-size: 1rem
#block-payment
  font-size: .8em
  strong
    font-weight: 400
#payed,
#accepted
  text-decoration: none
  border-left: 0
  border-right: 0
  padding: .11em 0
  line-height: 1em
  display: inline-block
  transform: rotate(-8deg)
  letter-spacing: .05em
  font-size: 3rem
  font-weight: 400
  position: absolute
  top: 8rem
  left: 5rem
#payed
  opacity: .5
  color: $payed-color
  border: .1em solid rgba($payed-color, .4)
  border-left: 0
  border-right: 0

#accepted
  color: $accepted-color
  border: .1em solid rgba($accepted-color, .2)
  text-align: center
  padding-left: .3em
  padding-right: .3em
  .title
    line-height: .8em
    color: rgba($accepted-color, .5)
  .date
    display: block
    padding-top: .3em
    padding-bottom: .1em
    margin-top: .3em
    font-weight: 400
    font-size: .8rem
    line-height: .8em
    border-top: 2px dotted rgba($accepted-color, .2)
    color: rgba($accepted-color, .6)
img
  @extend .img-fluid
