// https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

@media print
  .no-print
    display: none !important
  .page-break
    display: block
    page-break-before: always

  body
    background: white
    font-size: 125%
    small
      font-size: 100%

  .container
    max-width: 100%
  #block-info
    margin-bottom: 0
  .table.table-details
    margin-top: 0
  .condicions-contractacio
    font-size: 80%
    h4
      font-size: 90%
    ul,
    p
      margin-bottom: 50%
