---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <section class="col-sm-3">
      <h3>Pressupostos</h3>
      {% for pressupost in site.pressupostos reversed %}
        {% capture this_year %}{{ pressupost.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ pressupost.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
          <small id="{{ this_year }}-ref">{{this_year}}</small>
          <ul class="if">
        {% endif %}

        <li>
          <a href="{{ pressupost.url | prepend: site.baseurl }}">
          {% if pressupost.accepted == true %}<span class="text-success">{% endif %}
          {% if pressupost.accepted == false %}<span class="text-danger">{% endif %}
          {% if pressupost.accepted == 'draft' %}<span class="text-warning">{% endif %}
            {% if pressupost.completed == true %}<s>{% endif %}
            {{ pressupost.title }}
            {% if pressupost.completed == true %}</s>{% endif %}
          {% if pressupost.accepted == true  or pressupost.accepted == false %}</span>{% endif %}
          </a>, {{ pressupost.client }}
        </li>

        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <small class="hidden-lg-down" id="{{ next_year }}-ref">{{next_year}}</small>
            <ul class="hidden-lg-down" >
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <section class="col-sm-3">
      <h3>Factures</h3>
      {% for factura in site.factures reversed %}
        {% capture this_year %}{{ factura.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ factura.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
          <small id="{{ this_year }}-ref">{{this_year}}</small>
          <ul class="if">
        {% endif %}

        <li>
          <a href="{{ factura.url | prepend: site.baseurl }}">
            {% if factura.payed == true %}<span class="text-success">{% endif %}
            {% if factura.payed == false %}<span class="text-danger">{% endif %}
              {{ factura.title }}
            {% if factura.payed == true  or factura.payed == false %}</span>{% endif %}
          </a>, {{ factura.client }}
        </li>

        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <small class="hidden-lg-down" id="{{ next_year }}-ref">{{next_year}}</small>
            <ul class="hidden-lg-down" >
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <section class="col-sm-3">
      <h3>Tickets</h3>
      {% for ticket in site.tickets reversed %}
        {% capture this_year %}{{ ticket.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ ticket.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
          <small id="{{ this_year }}-ref">{{this_year}}</small>
          <ul class="if">
        {% endif %}

        <li>
          <a href="{{ ticket.url | prepend: site.baseurl }}">
            {% if ticket.payed == true %}<span class="text-success">{% endif %}
            {% if ticket.payed == false %}<span class="text-danger">{% endif %}
              {{ ticket.title }}
            {% if ticket.payed == true  or ticket.payed == false %}</span>{% endif %}
          </a>, {{ ticket.client }}
        </li>

        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <small class="hidden-lg-down" id="{{ next_year }}-ref">{{next_year}}</small>
            <ul class="hidden-lg-down" >
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>
  </div> <!-- /.row -->
  <div class="row">
    <section class="col-sm-3">
      <h3>Clients</h3>
      <ul>
      {% for org_hash in site.data.orgs %}
      {% assign org = org_hash[1] %}
        <li>
            {{ org.name }}, <a href="mailto:{{org.name}}">{{org.email}}</a>
        </li>
      {% endfor %}
      </ul>
    </section>
    <section class="col-sm-3">
      <h3>Termes i Condicions</h3>
      <ul>
        <li><a href="{{ "/tarifes/" | prepend: site.baseurl | prepend: site.url }}">Tarifes</a></li>
        <li><a href="{{ "/tos/" | prepend: site.baseurl | prepend: site.url }}">Termes i Condicions de Contractació</a></li>
        <li><a href="{{ "/impressum/" | prepend: site.baseurl | prepend: site.url }}">Impressum</a></li>
      </ul>
    </section>
  </div>
</div>
