---
layout: default
---
<div class="page container" id="print-block">
  <div class="row">
    <div class="col-md-12">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ content }}
    </div>
  </div>
</div>
