---
layout: default
---
<!--
http://serautonomo.net/wp-content/uploads/2008/11/factura-de-ventas.pdf
[Jekyll PDF Converter using PDFKit](https://gist.github.com/kristianmandrup/5280569)
-->
{% assign client = site.data.orgs[page.client] %}
{% assign base = "0.00" %}
{% for service in page.services %}
  {% assign base = base | plus:service.eur %}
{% endfor %}
{% assign iva1 = page.iva | times: base | divided_by: "100" %}
{% assign total1 = base | plus: iva1 %}
{% comment %}
  {% assign irpf1 = page.irpf | times: base | divided_by: "100" %}
  {% assign total1 = base | plus: iva1 | minus: irpf1 %}
  {% capture irpf %}{{ irpf1 | round: 2 }}{% endcapture %}
{% endcomment %}
{% capture iva %}{{ iva1 | round: 2 }}{% endcapture %}
{% capture total %}{{ total1 | round: 2 }}{% endcapture %}
<div class="factura container" id="print-block">
  {% if page.payed == true %}
    <span id="payed">PAGAT</span>
  {% endif %}
  {% if page.accepted == true %}
    <div id="accepted">
      <span class="title">ACCEPTAT</span>
      {%comment%}{% include helper-date.html date=page.accepted lang=page.lang %}{%endcomment%}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-8 col-p-8">
      <h1 id="block-title">{{ page.type | upcase }}</h1>
      <ul id="block-info" class="list-unstyled">
        <li><span class="initialism">Número:</span> {{ page.title | upcase }}</li>
        <li><span class="initialism">Data Emissió:</span> {{ page.date | date: '%-d/%-m/%Y' }}</li>
        {% if page.payed == true %}
        <li><span class="initialism">Data pagament:</span> {{ page.datePayed | date: '%-d/%-m/%Y' }}</li>
        {% elsif page.due %}
        <li><span class="initialism">Data venciment:</span> {{ page.due | date: '%-d/%-m/%Y' }}</li>
        {% endif %}
      </ul>
      <ul id="block-client" class="list-unstyled">
        <li class="initialism">Per a:</li>
        <li class="name">{{ client.name }}</li>
        {% if client.nif %}<li>{{ client.nif }}</li>{% endif %}
        {% if client.addr %}<li>{{ client.addr }}</li>{% endif %}
        {% if client.cp %}<li>{{ client.cp }}</li>{% endif %}
        <!--
        {% if client.email %}<li>{{ client.email }}</li>{% endif %}
        {% if client.tel %}<li>{{ client.tel }}</li>{% endif %}
        -->
      </ul>
    </div>

    {% include _block-org.html %}
    
  </div> <!-- /.row -->
  <div class="row">
    <div class="col-md-12 col-p-12">
    <br><br>
      {{ page.content }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-p-12">
      <table class="table table-details">
        <thead>
          <tr>
            <th class="w-ample no-border">Descripció</th>
            <th class="text-right no-border">Import</th>
          </tr>
        </thead>
        <tbody>
          {% for service in page.services %}
            <tr>
              <td class="w-ample">
                {{ service.txt | markdownify | remove: '<p>' | remove: '</p>' }}

                {% if service.xtra %}
                  <br>
                  <small>{{ service.xtra  | markdownify | remove: '<p>' | remove: '</p>' }}</small>
                {% endif %}
              </td>

              <td class="text-right">
                {% include help-euros.html value=service.eur %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <table id="block-totals" class="table table-sm">
        <tfoot>
          <tr id="total">
            <th class="w-ample lbl text-right">Total</th>
            <td class="value text-right bg-pd">
              {% include help-euros.html value=base %}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> <!-- /.row -->

  {% if page.tos %}
    <br><br>
    <div class="row">
      <div class="col-md-12 col-p-12 condicions-contractacio">
        {% include condicions-contractacio.html %}
      </div>
    </div>
  {% endif %}
</div>
